[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sundeep01
[access "refs/for/refs/*"]
	read = group user/sundeep01
	push = group user/sundeep01
	label-Code-Review = -2..+2 group user/sundeep01
	label-Verified = -1..+1 group user/sundeep01
	rebase = group user/sundeep01
	removeReviewer = group user/sundeep01
	submit = group user/sundeep01
[access "refs/heads/*"]
	read = group user/sundeep01
	create = group user/sundeep01
	push = +force group user/sundeep01
	pushMerge = group user/sundeep01
[access "refs/tags/*"]
	push = group user/sundeep01
	push = +force group user/sundeep01
